<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th data-field="id" data-align="right" data-sortable="true">
          #ID
        </th>
        <th ng-click="orderByField='name'; reverseSort = !reverseSort">
          Car Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span>
          <span ng-show="reverseSort">v</span>
        </th>
        <th ng-click="orderByField='model'; reverseSort = !reverseSort">
          Car Model <span ng-show="orderByField == 'model'"><span ng-show="!reverseSort">^</span>
          <span ng-show="reverseSort">v</span>
        </th>
        <th ng-click="orderByField='reservation.member.email'; reverseSort = !reverseSort">
          Customer Email <span ng-show="orderByField == 'reservation.member.email'"><span ng-show="!reverseSort">^</span>
          <span ng-show="reverseSort">v</span>
        </th>
        <th ng-click="orderByField='reservation.start_date'; reverseSort = !reverseSort">
          Reserved From <span ng-show="orderByField == 'reservation.start_date'"><span ng-show="!reverseSort">^</span>
          <span ng-show="reverseSort">v</span>
        </th>
        <th ng-click="orderByField='reservation.occupied_at'; reverseSort = !reverseSort">
          Occupied On <span ng-show="orderByField == 'reservation.occupied_at'"><span ng-show="!reverseSort">^</span>
          <span ng-show="reverseSort">v</span>
        </th>
        <th ng-click="orderByField='reservation.scheduled_to_return_at'; reverseSort = !reverseSort">
          To be returned on <span ng-show="orderByField == 'reservation.scheduled_to_return_at'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="v in reservations | orderBy:orderByField:reverseSort track by v.id" ng-click="select($index)" ng-class="{active: $index == selected}">
        <td>
          {{v.vehicle.id}}
        </td>
        <td>
          {{v.vehicle.name}}
        </td>
        <td>
          {{v.vehicle.model}}
        </td>
        <td>
          {{v.member.email}}
        </td>
        <td>
          {{v.start_date | formatDate}}
        </td>
        <td>
          {{v.occupied_at | formatDate}}
        </td>
        <td>
          {{v.scheduled_to_return_at | formatDate}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
