<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th data-field="id" data-align="right" data-sortable="true">
          #ID
        </th>
        <th ng-click="orderByField='vehicle.name'; reverseSort = !reverseSort">
          Car Name <span ng-show="orderByField == 'vehicle.name'"><span ng-show="!reverseSort">^</span>
          <span ng-show="reverseSort">v</span>
        </th>
        <th ng-click="orderByField='vehicle.model'; reverseSort = !reverseSort">
          Car Model <span ng-show="orderByField == 'vehicle.model'"><span ng-show="!reverseSort">^</span>
          <span ng-show="reverseSort">v</span>
        </th>
        <th ng-click="orderByField='member.email'; reverseSort = !reverseSort">
          Customer Email <span ng-show="orderByField == 'member.email'"><span ng-show="!reverseSort">^</span>
          <span ng-show="reverseSort">v</span>
        </th>
        <th ng-click="orderByField='start_date'; reverseSort = !reverseSort">
          Reserved From <span ng-show="orderByField == 'start_date'"><span ng-show="!reverseSort">^</span>
          <span ng-show="reverseSort">v</span>
        </th>
        <th ng-click="orderByField='occupied_at'; reverseSort = !reverseSort">
          Occupied On <span ng-show="orderByField == 'occupied_at'"><span ng-show="!reverseSort">^</span>
          <span ng-show="reverseSort">v</span>
        </th>
        <th ng-click="orderByField='scheduled_to_return_at'; reverseSort = !reverseSort">
          To be returned on <span ng-show="orderByField == 'scheduled_to_return_at'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="r in reservations | orderBy:orderByField:reverseSort track by r.id" ng-click="select($index)" ng-class="{active: $index == selected}">
        <td>
          {{r.vehicle.id}}
        </td>
        <td>
          {{r.vehicle.name}}
        </td>
        <td>
          {{r.vehicle.model}}
        </td>
        <td>
          {{r.member.email}}
        </td>
        <td>
          {{r.start_date | formatDate}}
        </td>
        <td>
          {{r.occupied_at | formatDate}}
        </td>
        <td>
          {{r.scheduled_to_return_at | formatDate}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
