<div class="page app" id="page">
  <!-- Begin .header -->
  <header class="header cf" role="banner">
    <md-content>
      <md-toolbar class="md-accent">
        <h2 class="md-toolbar-tools">
        <span class="header-btn-menu icon-menu" aria-label="Menu"></span>
        <span>Breeze Admin</span>
      </h2>
      </md-toolbar>
    </md-content>
  </header>

  <div>
    <header class="block-header block-header__bordered">
      <h1 class="md-heading-1">Cars</h1>
    </header>
    <section layout="column" layout-gt-sm="row" layout-margin>
      <div flex="40" flex-order-sm="2">
        <md-content>
          <md-list>
            <md-item ng-repeat="item in vehicles track by item.id">
              <md-item-content>
                <div class="md-tile-left">
                  <img ng-src="http://i.imgur.com/L90ERLO.jpg?2" class="face" alt="Toyota Prius">
                </div>
                <div class="md-tile-content">
                  <h3><a ui-sref="vehicles.reservation({id: item.id, reservation_id: item.reservation_id})">{{item.name}}</a></h3>
                  <h4>{{item.model}}</h4>
                  <h4 ng-show="item.start_date">Reserved on {{item.start_date | formatDate}} by {{item.member_first_name}} {{item.member_last_name}}</h4>
                  <h4 ng-show="item.occupied_at">Occupied on {{item.occupied_at | formatDate}}</h4>
                  <h4 ng-show="item.scheduled_to_return_at">Scheduled to be returned on {{item.scheduled_to_return_at}}</h4>
                  <h4 ng-show="item.returned_at">Returned on {{item.returned_at | formatDate}}</h4>
                  <a ui-sref="vehicles.reservation({id: item.id, reservation_id: item.reservation_id})">
                    <md-button class="md-primary">{{ item.reservation_id ? "Update" : "Add"}}</md-button>
                  </a>
                  <core-icon src="//www.polymer-project.org/images/icons/android.svg"></core-icon>
                </div>
              </md-item-content>
            </md-item>
          </md-list>
        </md-content>
      </div>
      <div flex="45" flex-gt-md="40" flex-order-sm="3" layout="row" layout-align="center" class="block-negative-vert-offset" ui-view>
      </div>
    </section>
  </div>
</div>