<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <ul class="nav nav-tabs padding-top">
        <li class="active">
          <a href="#">Reservations</a>
        </li>
        <li>
          <a href="#">History</a>
        </li>
        <li>
          <a href="#">Analytics</a>
        </li>
      </ul>

      <div class="btn-group padding-left">
        <button class="btn btn-default" ng-model="filterBy" btn-radio="'All'" type="button">All</button>
        <button class="btn btn-default" ng-model="filterBy" btn-radio="'UnReserved'" type="button">Unreserved</button>
        <button class="btn btn-default" ng-model="filterBy" btn-radio="'Reserved'" type="button">Reserved</button>
        <button class="btn btn-default" ng-model="filterBy" btn-radio="'PendingPickup'" type="button">Pending Pickup</button>
        <button class="btn btn-default" ng-model="filterBy" btn-radio="'PendingReturn'" type="button">Pending Return</button>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th data-field="id" data-align="right" data-sortable="true">
                #ID
              </th>
              <th ng-click="orderByField='name'; reverseSort = !reverseSort">
                Car Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </th>
              <th ng-click="orderByField='model'; reverseSort = !reverseSort">
                Car Model <span ng-show="orderByField == 'model'"><span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </th>
              <th ng-click="orderByField='reservation.member.email'; reverseSort = !reverseSort">
                Customer Email <span ng-show="orderByField == 'reservation.member.email'"><span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </th>
              <th ng-click="orderByField='reservation.start_date'; reverseSort = !reverseSort">
                Reserved From <span ng-show="orderByField == 'reservation.start_date'"><span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </th>
              <th ng-click="orderByField='reservation.occupied_at'; reverseSort = !reverseSort">
                Occupied On <span ng-show="orderByField == 'reservation.occupied_at'"><span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </th>
              <th ng-click="orderByField='reservation.scheduled_to_return_at'; reverseSort = !reverseSort">
                To be returned on <span ng-show="orderByField == 'reservation.scheduled_to_return_at'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="v in vehicles | filter: filterFunction | orderBy:orderByField:reverseSort track by v.id" ui-sref="vehicles.reservation({id: v.id, reservation_id: v.reservation.id})" ng-click="select($index)" ng-class="{active: $index == selected}">
              <td>
                {{v.id}}
              </td>
              <td>
                {{v.name}}
              </td>
              <td>
                {{v.model}}
              </td>
              <td>
                {{v.reservation.member.email}}
              </td>
              <td>
                {{v.reservation.start_date | formatDate}}
              </td>
              <td>
                {{v.reservation.occupied_at | formatDate}}
              </td>
              <td>
                {{v.reservation.scheduled_to_return_at | formatDate}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div ui-view></div>