<!DOCTYPE html>
<html>
<head>
  <title>Car Admin</title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%# this prevents pageviews being counted towards our license in development %>
  <% if Rails.env != "development" %>
    <script async src="//hello.myfonts.net/count/2bd5fd"></script>
  <% end %>

  <script type="text/javascript" src="//use.typekit.net/gnm2zby.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= csrf_meta_tags %>
</head>
<body layout="row" ng-app="angularApp" >
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header page-scroll">
              <a class="navbar-brand brand-color" href="#page-top">CAR ADMIN</a>
          </div>
      </div>
  </nav>
  
<section>
<toast></toast>
<%= yield %>
</section>
</body>
</html>
