<!DOCTYPE html>
<html>
<head>
  <title>Breeze</title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%# this prevents pageviews being counted towards our license in development %>
  <% if Rails.env != "development" %>
    <script async src="//hello.myfonts.net/count/2bd5fd"></script>
  <% end %>

  <script type="text/javascript" src="//use.typekit.net/gnm2zby.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= csrf_meta_tags %>
</head>
<body layout="row" ng-app="angularApp" >
<toast></toast>
<%= yield %>

</body>
</html>
